#containerSelector{
  display: flex;
  justify-content: space-around;
}

a{
  display: flex;
  justify-content: center;
  padding-top: 75px;
  text-decoration: none;
}

#buttonsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  background-color: rgb(112, 174, 63);
  min-width: 200px;
  min-height: 50px;
  padding: 1vh;
  border-radius: 30px;
  box-shadow: 0 0 0 3px rgb(226, 237, 209) inset;
  border: rgb(50, 50, 50) solid;
  font-family: Montserrat ,sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: rgb(226, 237, 209);
}

button:disabled{
  filter: grayscale(95%);
}
