
<h1>Choose your fighters</h1>
<form novalidate>
  <app-pokemon-selector
    (selectFighter)="setFirstFighter($event)"
    [pokemons]="names"
    [fieldId]="1"
    [fieldName]="'First fighter'"></app-pokemon-selector>

  <a routerLink="/battle/{{firstFighter}}/{{secondFighter}}">
    <button type="submit" [disabled]="!readyToFight">FIGHT</button>
  </a>


  <app-pokemon-selector
    (selectFighter)="setSecondFighter($event)"
    [pokemons]="names"
    [fieldId]="2"
    [fieldName]="'Second fighter'"></app-pokemon-selector>
</form>
